<header [ngClass]="{'scrolled': isScrolled, 'white-bg': isWhiteBackground}">
  <nav>
      <ul>
          <li><a class ="nav-link" routerLink="" [ngClass]="{active: menuOption == 'home'}" (click)="onOption('home')">Home</a></li>
          <li><a class ="nav-link" routerLink="temas" [ngClass]="{active: menuOption == 'temas'}" (click)="onOption('temas')">Temas</a></li>
          <li><a class ="nav-link" routerLink="calendario" [ngClass]="{active: menuOption == 'calendario'}" (click)="onOption('calendario')">Calendario</a></li>
      </ul>
  </nav>

  <div class="search-login">
    <button class="login-btn" routerLink="/login">Log In</button>
    <button class="register-btn" routerLink="/registro">Registro</button>
</div>

</header>

