<div class="map-poi-container">
  <div class="map-layout-column">
    <!-- Mapa -->
    <div class="map-container full">
      <div [id]="mapId" class="map-leaflet-wrapper"></div>
    </div>

    <!-- Carousel debajo del mapa -->
    <div class="below-map-bar" *ngIf="showCarousel && providerItems.length > 0">
      <app-carousel
        mode="map-linked"
        [showHeader]="false"
        [itemsPerView]="1"
        [linkedItems]="providerItems"
        (linkedItemChange)="onCarouselProviderChange($event)">
      </app-carousel>
    </div>
  </div>

  <!-- Provider Card -->
  <app-provider-card
    *ngIf="showProviderCard && showProviderCardVisible"
    class="provider-card-wrapper"
    [@slideIn]="showProviderCardVisible ? 'visible' : 'hidden'"
    [placeData]="placeData"
    [reviews]="reviews"
    [services]="services"
    (submitReview)="onSubmitReview($event)">
  </app-provider-card>
</div>
