html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1; /* Esto hace que el contenido principal ocupe el espacio disponible */
  display: flex;
  flex-direction: column;
}

  
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
      url('https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/urbcvam2obuo0hz3mpve');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Mantiene el fondo detrás del contenido */
}
/* Aplica color blanco a todos los textos */
body {
  color: white;
}

/* Asegura que los textos específicos también sean blancos */
.hero h1, 
.hero p, 
.stats-container, 
.stat h3, 
.info-section, 
.info-section h2, 
.info-section p {
  color: white;
}

/* Ajusta los enlaces para que sean blancos también */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

  