<body>
    <div class="container">
        <div class="left-panel"></div>
        <div class="right-panel">
            <div class="logo">
                <h1><strong>I-Wellness</strong> <span class="icon">🌸</span></h1>
            </div>
            <p>¡Bienvenido/a!</p>
            <div class="buttons">
                <button class="btn" (click)="navigateTo('loginturista')">Soy Visitante</button>
                <button class="btn" (click)="navigateTo('loginproveedor')">Soy Empresa</button>
                <button class="btn" (click)="navigateTo('loginadmin')">Soy Administrador</button>
            </div>
        </div>
    </div>
</body>
