.experience-container {
    max-width: 800px;
    margin: 100px auto;
    background: #F2EFE7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .experience-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }

  .experience-details {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
  }

  .experience-image {
    width: 250px;
    border-radius: 10px;
  }

  .experience-text {
    flex: 1;
  }

  .rating {
    font-weight: bold;
    font-size: 18px;
    color: black;
  }

  .rating span {
    color: #f39c12;
  }

  .description {
    font-size: 16px;
    color: #444;
  }

  .reviews-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
  }

  .order-text {
    font-size: 14px;
    color: #888;
    text-align: left;
    margin-bottom: 10px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .review {
    background: #9ACBD0;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
  }