<body>
    <div class="container">
        <div class="left-panel">
            <div class="logo">
                <img src="logo.png" alt="I-Wellness">
                <h1>I-Wellness</h1>
            </div>
        </div>
        <div class="right-panel">
            <h2 class="title">Recuperar contraseña</h2>
            <br>
            <p class="subtitle">Enviaremos un correo para restablecerla</p>
            <p class="info-text">Por favor escribe tu correo:</p>
            <input type="email" class="input-field" placeholder="Email">
            <button class="btn">Enviar correo</button>
        </div>
    </div>
</body>