<header class="navbar">
  <div class="nav-left">
    <a href="/hometurista" class="logo">Home</a>
    <a href="/mapaempresas" class="logo">Mapa de empresas</a>
    <a href="/reservasturista" class="logo">Mis reservas</a>
  </div>

  <div class="nav-right"> 
    <div class="profile-container">
      <img [src]="usuario.foto" alt="Profile Picture" class="profile-pic" (click)="navigateTo('perfilturista', usuario.id)">
      <button class="logout-btn" (click)="navigateTo('')">Salir</button>
    </div>
  </div>
</header>

  
