<body>

    <div class="container">
        <div class="form-box">
            <h2>Nuevo servicio</h2>
            <div class="form-content">
                <div class="image-upload">
                    <div class="image-placeholder"></div>
                    <p>Agregar imagen</p>
                </div>
                <div class="form-fields">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="¿En que centro está ubicado?">
                    <input type="text" placeholder="Precio">
                    <textarea placeholder="Descripción"></textarea>
                    <button class="save-btn" (click)="navigateTo('homeproveedor')">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>
