<body>
    <div class="container">
        <aside class="sidebar">
            <p>Hola, Pepito</p>
            <ul>
                <li class="active">&#9998; Edit profile</li>
                <li><a href="/editpreferencias">&#9992; Preferencias</a></li>
            </ul>
        </aside>
        <main class="content">
            <div class="profile-header">
                <h1>Editar perfil</h1>
                <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile Picture" class="profile-pic">
            </div>
            <form class="profile-form">
                <div class="input-group">
                    <label>Nombre</label>
                    <input type="text" value="Mehrab">
                </div>
                <div class="input-group">
                    <label>Apellido</label>
                    <input type="text" value="Bozorgi">
                </div>
                <div class="input-group full-width">
                    <label>Correo</label>
                    <input type="email" value="Mehrabness@gmail.com">
                </div>
                <div class="input-group full-width">
                    <label>Número de Contacto</label>
                    <input type="text" value="58077.79">
                </div>
                <select class="input-group dropdown" id="country" name="country" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
                    <option value="" disabled selected>Seleccione un país de procedencia</option>
                    <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                </select>
                  
            
                <select class="input-group dropdown" id="city" [disabled]="!selectedCountry">
                    <option value="" disabled selected>Seleccione su ciudad</option>
                    <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                </select>
                <div class="buttons">
                    <button class="cancel" (click)="navigateTo('hometurista')">Cancel</button>
                    <button class="save" (click)="navigateTo('hometurista')">Save</button>
                </div>
            </form>
        </main>
    </div>
</body>
