<body>
  <div class="container">
      <h2>Aquí está la lista de visitantes:</h2>

      <div class="services-box">
          <button class="add-service-btn" (click)="navigateTo('agregarservicio')">Añadir nuevo visitante <span>+</span></button>

          <div class="service-card">
              <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/66/82/ca/caption.jpg?w=1400&h=1400&s=1&cx=1060&cy=707&chk=v1_256973f97e46227869f3" alt="Día de Sauna" class="service-image">
              <div class="service-info">
                  <h3>Fabian Perez</h3>
                  <p>Colombia</p>
                  <p class="categoria">Caminatas</p>
              </div>
              <div class="service-actions">
                  <button class="visibility-btn" (click)="navigateTo('infoservicio')">👁</button>
                  <button class="edit-btn" (click)="navigateTo('editarservicio')">✏️</button>
                  <button class="delete-btn">🗑</button>
                  <label class="switch">
                      <input type="checkbox">
                      <span class="slider round"></span>
                    </label>
              </div>
          </div>
      </div>
  </div>
</body>

