<body>
    <div class="container">
        <div class="left-panel">
            <div class="logo">
                <img src="../../../assets/logo.png" alt="I-Wellness">
                <h1>I-Wellness</h1>
            </div>
        </div>
        <div class="right-panel">
            <h2 class="title">Recuperar contraseña</h2>
            <br>
            <p class="subtitle">Enviaremos un correo para restablecerla</p>
            <p class="info-text">Por favor escribe tu correo:</p>
            <form (submit)="onSubmit()">
                <input
                  type="correo"
                  placeholder="Correo"
                  class="input-field"
                  [(ngModel)]="correo"
                  name="correo"
                  (input)="validateEmail()"
                  required
                />
                <small *ngIf="emailError" class="error-message">{{ emailError }}</small>
                <button type="submit" class="btn">Enviar correo</button>
            </form>
        </div>
    </div>
</body>