/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-panel {
    flex: 1;
    background: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/217670492.jpg?k=e1e132dd1d1f34ac5aec54f73de4811fb6718f60ed1cb37efa4459ee4e372d9c&o=&hp=1') no-repeat center center;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 120px;
    margin-bottom: 10px;
}

.right-panel {
    flex: 1;
    background: white;
    padding: 40px;
    text-align: center;
}

.title {
    font-size: 24px;
    color: #3b6ea5;
    font-weight: bold;
}

.subtitle {
    font-size: 18px;
    color: #8ac6c2;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background: #f8f8f8;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #4a9c9f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #3b6ea5;
}

.links {
    margin-top: 20px;
}

.create-account {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.forgot-password {
    color: gray;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

#password {
    width: 92%;
}

.toggle-password {
    border: none;
    background: #ffffff;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.swal2-confirm {
    background-color: #4a9c9f;
}
.swal2-confirm-button{
    background-color: #4a9c9f;
}

