<header [ngClass]="{'scrolled': isScrolled, 'white-bg': isWhiteBackground}">
  <nav>
      <ul>
          <li><a class ="nav-link" routerLink="" [ngClass]="{active: menuOption == 'home'}" (click)="onOption('home')">Home</a></li>
          <li><a class ="nav-link" routerLink="temas" [ngClass]="{active: menuOption == 'temas'}" (click)="onOption('temas')">Temas</a></li>
          <li><a class ="nav-link" routerLink="analisis" [ngClass]="{active: menuOption == 'analisis'}" (click)="onOption('analisis')">Análisis de territorio</a></li>
      </ul>
  </nav>

  <div class="search-login">
    <div class="search-box">
        <input type="text" placeholder="Buscar">
        <span class="search-icon">🔍</span>
    </div>
    <button class="login-btn" routerLink="/login">Log in</button>
</div>

</header>

