<body>
    <div class="container">
        <div class="form-box">
            <h2>Editar servicio</h2>
            <div class="form-content">
                <div class="image-upload">
                    <img src="https://images.trvl-media.com/lodging/3000000/2150000/2145600/2145540/e68d6fa4.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill" alt="Imagen del servicio">
                    <p>Agregar imagen</p>
                </div>
                <div class="form-fields">
                    <input type="text" value="Sauna" disabled>
                    <input type="text" value="¿En que centro está ubicado?" disabled>
                    <input type="text" value="Precio" disabled>
                    <textarea disabled>Descripción</textarea>
                    <button class="save-btn" (click)="navigateTo('homeproveedor')">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>