<body>
    <div class="container">
        <div class="form-box">
            <h2>Editar servicio</h2>
            <div class="form-content">
                <div class="image-upload">
                    <img src="https://images.trvl-media.com/lodging/3000000/2150000/2145600/2145540/e68d6fa4.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill" alt="Imagen del servicio">
                    <p>Agregar imagen</p>
                </div>
                <div class="form-fields">
                    <input type="text" value="Sauna de lujo">
                    
                    <!-- Selección de días -->
                     <label for="days">Horarios disponibles:</label>
                    <div class="days-selection">
                        <div class="day-item" *ngFor="let day of days">
                            <input type="checkbox" [(ngModel)]="day.selected" id="{{ day.name }}">
                            <label for="{{ day.name }}">{{ day.name }}</label>
                        </div>
                    </div>

                    <!-- Horario -->
                    <div class="time-selection">
                        <label for="starTime">Hora de inicio:</label>
                        <input type="time" id="startTime"[(ngModel)]="startTime">
                        <label for="endTime">Hora de fin:</label>
                        <input type="time" id="endTime" [(ngModel)]="endTime">
                    </div>
                    
                    <input type="number" value="20" >
                    <textarea >Tarde de sauna grupal con aromaterapia</textarea>
                    <button class="save-btn" (click)="navigateTo('homeproveedor')">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>