<body>
    <div class="container">
        <div class="left-panel">
            <div class="logo">
                <img src="flower-logo.png" alt="I-Wellness Logo">
                <h1>I-Wellness</h1>
            </div>
        </div>
        <div class="right-panel">
            <h2 class="title"><span class="turista">TURISTA</span> <span class="registro">Registro</span></h2>
            
            <button class="btn-section">Datos de contacto</button>
            <input type="text" placeholder="Nombre">
            <input type="email" placeholder="Correo">
            <input type="text" placeholder="Teléfono">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Repite tu contraseña">

            <div class="checkbox-container">
                <input type="checkbox" id="terms">
                <label for="terms">Aceptar términos y condiciones</label>
            </div>

            <button class="btn-submit" (click)="navigateTo('formulariogustos')">Crear cuenta</button>
        </div>
    </div>
</body>
