
<div class="form-container">
    <h2>Formulario de Gustos</h2>
    <p>Por favor completa los campos solicitados para mejorar tu experiencia en I-Wellness, recuerda que después los puedes modificar tus gustos en tu perfil</p>
    
    <div class="gustos-container">
    <h3>Tus Gustos</h3>
    <p>Escoge las actividades y/o eventos que más te gusten</p>
    <p class="subtext">Escoge entre <strong>3 y 5</strong> opciones</p>
    
    <div class="grid-container">
        <div class="card" 
             *ngFor="let item of gustos" 
             (click)="seleccionarGusto(item)"
             [class.selected]="seleccionados.includes(item)">
          <img [src]="item.imagen" [alt]="item.nombre" />
          <span>{{ item.nombre }}</span>
        </div>
      </div>
    </div>
    
    <button class="next-button" (click)="continuar()">Siguiente</button>
</div>
