<body>
    <div class="container">
        <div class="left-panel"></div>
        <div class="right-panel">
            <div class="logo">
                <h1>
                    <strong>e-Xiua</strong>
                    <img src="../../../assets/logo.png" alt="e-Xiua Logo" style="height: 40px; vertical-align: middle;">
                </h1>
            </div>
            <p>¡Bienvenido/a!</p>
            <div class="buttons">
                <button class="btn" (click)="navigateTo('registroturista')">Soy Visitante</button>
                <button class="btn" (click)="navigateTo('registroproveedor')">Soy Empresa</button>

            </div>
        </div>
    </div>
</body>
