<div class="dashboard-container">
  <h1 class="dashboard-title">Hola Admin!</h1>

  <div class="card-container">

    <!-- Tarjeta de Visitantes -->
    <div class="card" [routerLink]="'/visitantes'">
      <div class="card-image-container">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/66/82/ca/caption.jpg?w=1400&h=1400&s=1&cx=1060&cy=707&chk=v1_256973f97e46227869f3" alt="Visitantes" class="card-image">
      </div>
      <div class="card-content">
        <p class="card-title">🌍 Visitantes</p>
      </div>
    </div>

    <!-- Tarjeta de Proveedores -->
    <div class="card" [routerLink]="'/proveedores'">
      <div class="card-image-container">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/20/c2/97/the-springs-resort-and.jpg?w=1200&h=-1&s=1" alt="Proveedores" class="card-image">
      </div>
      <div class="card-content">
        <p class="card-title">🤝 Proveedores</p>
      </div>
    </div>

  </div>
</div>
