<header class="navbar">
    <div class="nav-left">
      <a href="/homeadmin" class="logo">Home</a>
      <a href="/visitantes" class="logo">Visitantes</a>
      <a href="/proveedores" class="logo">Empresas</a>
      <a href="/servicios" class="logo">Servicios</a>
    </div>
  
    <div class="nav-center">
      <input type="text" placeholder="Buscar" class="search-input">
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
  
    <div class="nav-right">
      <button class="icon-btn">
        <i class="fas fa-bell"></i>
      </button>
  
      <div class="profile-container">
        <img src="https://media.licdn.com/dms/image/v2/D5612AQEYpoptaZMflQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1678068123286?e=2147483647&v=beta&t=GhP4fH1WPTaK80oeNNYlKmPaHqiKQ_ZYVxK1_WhoRNQ" alt="User" class="profile-pic" (click)="navigateTo('perfiladmin')">
        <button class="logout-btn" (click)="navigateTo('')">Salir</button>
      </div>
    </div>
  </header>
  
    