<header class="navbar">
    <div class="nav-left">
      <a href="/homeproveedor" class="nav-link active">Tus servicios</a>
      <a href="/dashboard" class="nav-link">Dashboard</a>
    </div>
  
    <div class="nav-center">
      <input type="text" placeholder="Buscar" class="search-input">
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
  
    <div class="nav-right">
      <button class ="logout-btn" (click)="navigateTo('')">Salir</button>
    </div>
  </header>
  
